@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-sans;
    }
    h1 {
        font-stretch: expanded;
    }
}

@layer utilities {
    .font-stretch {
        font-stretch: expanded;
    }
}

@font-face {
    font-family: 'GT America';
    src: url('/src/assets/fonts/GT-America-Standard-Regular.woff2') format('woff2'),
        url('/src/assets/fonts/GT-America-Standard-Regular.woff') format('woff');
    font-weight: 400; /* normal */
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('/src/assets/fonts/GT-America-Expanded-Bold.woff2') format('woff2'),
        url('/src/assets/fonts/GT-America-Expanded-Bold.woff') format('woff');
    font-weight: 700; /* bold */
    font-stretch: expanded;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('/src/assets/fonts/GT-America-Expanded-Thin.woff2') format('woff2'),
        url('/src/assets/fonts/GT-America-Expanded-Thin.woff') format('woff');
    font-weight: 100; /* thin */
    font-stretch: expanded;
    font-style: normal;
}
